body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #222, black);
    color: #eee;
    font-family: Tahoma, sans-serif;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    color: yellow;
}
.red {
    color: red;
}
.orange {
    color: orange;
}

.config {
    margin-right: 1rem;
    p {
        display: flex;
        flex-direction: column;

        label {
            input {
                width: 150px;
            }
        }
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    .range-value {
        display: inline-block;
        width: 30px;
    }

    .label-text {
        display: inline-block;
        width: 70px;
    }
}

.canvas-container {
    position: relative;
    width: 800px;
    height: 800px;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 800px;
        height: 800px;
    }
}
